{% extends "./base.html" %}
{% load static i18n thumbnail %}

{% block title %}{% trans "Slider" %}{% endblock title %}

{% block admin_content %}
  <div class="container">

    <!-- Menu -->
    <div class="d-flex">
      <div class="py-2">
        <h2>Slider</h2>
      </div>
      <div class="ml-auto py-2">
        <a class="btn btn-sm btn-primary text-white" href="{% url "dashboard:slider-create" %}"><i class="fa fa-plus-circle"></i>
          {% trans "add a new slide" %}</a>
      </div>
    </div>

    <!-- Table -->
    <table class="table table-hover">
      <thead>
      <tr>
        <th>{% trans "Position" %}</th>
        <th>{% trans "Image" %}</th>
        <th>{% trans "Content" %}</th>
        <th>{% trans "Active" %}</th>
      </tr>
      </thead>

      <tbody>
      {% for slide in object_list %}
        <tr>
          <td data-url="{% url "dashboard:slider-update" pk=slide.pk %}">{{ slide.position }}</td>
          <td data-url="{% url "dashboard:slider-update" pk=slide.pk %}">
            {% thumbnail slide.image "100x700" as im %}
              <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}">
            {% endthumbnail %}
          </td>
          <td data-url="{% url "dashboard:slider-update" pk=slide.pk %}">
            <strong>{{ slide.title }}</strong></br>{{ slide.content }}
          </td>
          <td>
            <div class="form-check">
              <form action="{% url "dashboard:slider-update" pk=slide.pk %}" method="post" id="check-{{ slide.pk }}">
                {% csrf_token %}
                <input class="form-check-input position-static"{% if slide.is_active %} checked{% endif %}
                       type="checkbox" id="{{ slide.pk }}" name="is_active" aria-label="...">
              </form>
            </div>
          </td>
        </tr>
      {% endfor %}
      </tbody>
    </table>

  </div>
{% endblock admin_content %}


{% block javascript %}
  <script src="{% static "/js/js.cookie.js" %}"></script>
  <script src="{% static "/js/pwd_form.js" %}"></script>
{% endblock javascript %}
